<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @email.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
